In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
import numpy as np
import matplotlib.pyplot as plt

def pca_dimensionality_reduction(indep_X, dep_Y, n):
    # Scaling the data
    scaler = StandardScaler()
    indep_X_scaled = scaler.fit_transform(indep_X)

    # PCA apply panni top 'n' components edukkum
    pca = PCA(n_components=n)
    selected_features = pca.fit_transform(indep_X_scaled)

    # Explained Variance Return panna
    explained_variance = pca.explained_variance_ratio_
    return selected_features, explained_variance

def split_scalar(indep_X, dep_Y):
    X_train, X_test, y_train, y_test = train_test_split(indep_X, dep_Y, test_size=0.25, random_state=0)
    sc = StandardScaler()
    X_train = sc.fit_transform(X_train)
    X_test = sc.transform(X_test)
    return X_train, X_test, y_train, y_test

def cm_prediction(classifier, X_test, y_test):
    y_pred = classifier.predict(X_test)
    cm = confusion_matrix(y_test, y_pred)
    Accuracy = accuracy_score(y_test, y_pred)
    report = classification_report(y_test, y_pred)
    return classifier, Accuracy, report, cm

def logistic(X_train, y_train, X_test, y_test):
    classifier = LogisticRegression(random_state=0)
    classifier.fit(X_train, y_train)
    return cm_prediction(classifier, X_test, y_test)

def svm_linear(X_train, y_train, X_test, y_test):
    classifier = SVC(kernel='linear', random_state=0)
    classifier.fit(X_train, y_train)
    return cm_prediction(classifier, X_test, y_test)

def svm_NL(X_train, y_train, X_test, y_test):
    classifier = SVC(kernel='rbf', random_state=0)
    classifier.fit(X_train, y_train)
    return cm_prediction(classifier, X_test, y_test)

def Navie(X_train, y_train, X_test, y_test):
    classifier = GaussianNB()
    classifier.fit(X_train, y_train)
    return cm_prediction(classifier, X_test, y_test)

def knn(X_train, y_train, X_test, y_test):
    classifier = KNeighborsClassifier(n_neighbors=5, metric='minkowski', p=2)
    classifier.fit(X_train, y_train)
    return cm_prediction(classifier, X_test, y_test)

def Decision(X_train, y_train, X_test, y_test):
    classifier = DecisionTreeClassifier(criterion='entropy', random_state=0)
    classifier.fit(X_train, y_train)
    return cm_prediction(classifier, X_test, y_test)

def random(X_train, y_train, X_test, y_test):
    classifier = RandomForestClassifier(n_estimators=10, criterion='entropy', random_state=0)
    classifier.fit(X_train, y_train)
    return cm_prediction(classifier, X_test, y_test)

def compare_model_accuracies(acclog, accsvml, accsvmnl, accknn, accnav, accdes, accrf): 
    # DataFrame-ku 1 row dhan irukku, so list-oda 1st value eduthuko
    dataframe = pd.DataFrame(
        {
            'Logistic': [acclog[0]], 
            'SVMl': [accsvml[0]], 
            'SVMnl': [accsvmnl[0]], 
            'KNN': [accknn[0]], 
            'Navie': [accnav[0]], 
            'Decision': [accdes[0]], 
            'Random': [accrf[0]]
        },
        index=['PCA Results']  # Index name fix panni
    )
    return dataframe

In [2]:
# Dataset preparation
dataset1 = pd.read_csv("prep.csv", index_col=None)
df2 = dataset1

# Preprocessing
df2 = pd.get_dummies(df2, drop_first=True)
df2.replace({True: 1, False: 0}, inplace=True)

indep_X = df2.drop('classification_yes', axis=1)
dep_Y = df2['classification_yes']

In [3]:
df2

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,0,0,0,0,0,0,1,1,0,1
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,0,0,0,0,0,1,0,0,1
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,0,0,0,0,0,1,0,0,1
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,0,0,0,0,0,1,0,1,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,0,0,0,0,0,1,0,0,1
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,0,0,1,1,0,1,0,1,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,0,0,1,1,0,0,0,0,1
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,0,0,1,1,0,1,0,1,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,0,0,0,0,0,1,0,0,0

In [22]:
selected_features, explained_variance = pca_dimensionality_reduction(indep_X, dep_Y, 1)

# Model Training and Evaluation
acclog = []
accsvml = []
accsvmnl = []
accknn = []
accnav = []
accdes = []
accrf = []

In [23]:
X_train, X_test, y_train, y_test = split_scalar(selected_features, dep_Y)

classifier, Accuracy, report, cm = logistic(X_train, y_train, X_test, y_test)
acclog.append(Accuracy)

classifier, Accuracy, report, cm = svm_linear(X_train, y_train, X_test, y_test)
accsvml.append(Accuracy)

classifier, Accuracy, report, cm = svm_NL(X_train, y_train, X_test, y_test)
accsvmnl.append(Accuracy)

classifier, Accuracy, report, cm = knn(X_train, y_train, X_test, y_test)
accknn.append(Accuracy)

classifier, Accuracy, report, cm = Navie(X_train, y_train, X_test, y_test)
accnav.append(Accuracy)

classifier, Accuracy, report, cm = Decision(X_train, y_train, X_test, y_test)
accdes.append(Accuracy)

classifier, Accuracy, report, cm = random(X_train, y_train, X_test, y_test)
accrf.append(Accuracy)

# Classification Results
result = compare_model_accuracies(acclog, accsvml, accsvmnl, accknn, accnav, accdes, accrf)

In [24]:
result
#1

             Logistic  SVMl  SVMnl  KNN  Navie  Decision  Random
PCA Results      0.98   1.0    1.0  1.0    1.0      0.99    0.99

In [21]:
result
#2

             Logistic  SVMl  SVMnl  KNN  Navie  Decision  Random
PCA Results      0.98  0.99    1.0  1.0    1.0      0.99     1.0

In [18]:
result
#3

             Logistic  SVMl  SVMnl   KNN  Navie  Decision  Random
PCA Results      0.99  0.99    1.0  0.98    1.0      0.99     1.0

In [15]:
result
#4

             Logistic  SVMl  SVMnl   KNN  Navie  Decision  Random
PCA Results      0.99  0.99   0.98  0.98    1.0      0.99     1.0

In [12]:
result
#5

             Logistic  SVMl  SVMnl   KNN  Navie  Decision  Random
PCA Results      0.99   1.0   0.99  0.97    1.0      0.99     1.0

In [9]:
result
#6

             Logistic  SVMl  SVMnl   KNN  Navie  Decision  Random
PCA Results      0.99   1.0   0.98  0.97    1.0      0.99     1.0

In [6]:
result
#7

             Logistic  SVMl  SVMnl   KNN  Navie  Decision  Random
PCA Results      0.99  0.99   0.99  0.97    1.0       1.0     1.0

In [25]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
import numpy as np
import matplotlib.pyplot as plt

def pca_dimensionality_reduction(indep_X, dep_Y, n):
    # Scaling the data
    scaler = StandardScaler()
    indep_X_scaled = scaler.fit_transform(indep_X)

    # PCA apply panni top 'n' components edukkum
    pca = PCA(n_components=2)
    selected_features = pca.fit_transform(indep_X_scaled)

    # Explained Variance  to Return 
    explained_variance = pca.explained_variance_ratio_
    return selected_features, explained_variance

def split_scalar(indep_X, dep_Y):
    X_train, X_test, y_train, y_test = train_test_split(indep_X, dep_Y, test_size=0.25, random_state=0)
    sc = StandardScaler()
    X_train = sc.fit_transform(X_train)
    X_test = sc.transform(X_test)
    return X_train, X_test, y_train, y_test

def cm_prediction(classifier, X_test, y_test):
    y_pred = classifier.predict(X_test)
    cm = confusion_matrix(y_test, y_pred)
    Accuracy = accuracy_score(y_test, y_pred)
    report = classification_report(y_test, y_pred)
    return classifier, Accuracy, report, cm

def logistic(X_train, y_train, X_test, y_test):
    classifier = LogisticRegression(random_state=0)
    classifier.fit(X_train, y_train)
    return cm_prediction(classifier, X_test, y_test)

def svm_linear(X_train, y_train, X_test, y_test):
    classifier = SVC(kernel='linear', random_state=0)
    classifier.fit(X_train, y_train)
    return cm_prediction(classifier, X_test, y_test)

def svm_NL(X_train, y_train, X_test, y_test):
    classifier = SVC(kernel='rbf', random_state=0)
    classifier.fit(X_train, y_train)
    return cm_prediction(classifier, X_test, y_test)

def Navie(X_train, y_train, X_test, y_test):
    classifier = GaussianNB()
    classifier.fit(X_train, y_train)
    return cm_prediction(classifier, X_test, y_test)

def knn(X_train, y_train, X_test, y_test):
    classifier = KNeighborsClassifier(n_neighbors=5, metric='minkowski', p=2)
    classifier.fit(X_train, y_train)
    return cm_prediction(classifier, X_test, y_test)

def Decision(X_train, y_train, X_test, y_test):
    classifier = DecisionTreeClassifier(criterion='entropy', random_state=0)
    classifier.fit(X_train, y_train)
    return cm_prediction(classifier, X_test, y_test)

def random(X_train, y_train, X_test, y_test):
    classifier = RandomForestClassifier(n_estimators=10, criterion='entropy', random_state=0)
    classifier.fit(X_train, y_train)
    return cm_prediction(classifier, X_test, y_test)

def compare_model_accuracies(acclog, accsvml, accsvmnl, accknn, accnav, accdes, accrf): 
    # DataFrame-ku 1 row dhan irukku, so list-oda 1st value eduthuko
    dataframe = pd.DataFrame(
        {
            'Logistic': [acclog[0]], 
            'SVMl': [accsvml[0]], 
            'SVMnl': [accsvmnl[0]], 
            'KNN': [accknn[0]], 
            'Navie': [accnav[0]], 
            'Decision': [accdes[0]], 
            'Random': [accrf[0]]
        },
        index=['FeatureImportance']  # Index name fix panni
    )
    return dataframe


# Dataset preparation
dataset1 = pd.read_csv("prep.csv", index_col=None)
df2 = dataset1

# Preprocessing
df2 = pd.get_dummies(df2, drop_first=True)
df2.replace({True: 1, False: 0}, inplace=True)

indep_X = df2.drop('classification_yes', axis=1)
dep_Y = df2['classification_yes']


selected_features, explained_variance = pca_dimensionality_reduction(indep_X, dep_Y, 7)

# Model Training and Evaluation
acclog = []
accsvml = []
accsvmnl = []
accknn = []
accnav = []
accdes = []
accrf = []


X_train, X_test, y_train, y_test = split_scalar(selected_features, dep_Y)

classifier, Accuracy, report, cm = logistic(X_train, y_train, X_test, y_test)
acclog.append(Accuracy)

classifier, Accuracy, report, cm = svm_linear(X_train, y_train, X_test, y_test)
accsvml.append(Accuracy)

classifier, Accuracy, report, cm = svm_NL(X_train, y_train, X_test, y_test)
accsvmnl.append(Accuracy)

classifier, Accuracy, report, cm = knn(X_train, y_train, X_test, y_test)
accknn.append(Accuracy)

classifier, Accuracy, report, cm = Navie(X_train, y_train, X_test, y_test)
accnav.append(Accuracy)

classifier, Accuracy, report, cm = Decision(X_train, y_train, X_test, y_test)
accdes.append(Accuracy)

classifier, Accuracy, report, cm = random(X_train, y_train, X_test, y_test)
accrf.append(Accuracy)

# Classification Results
result = compare_model_accuracies(acclog, accsvml, accsvmnl, accknn, accnav, accdes, accrf)